{% load static %}<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block titleprefix %}{% endblock titleprefix %}{% block title %}
      RecipeManager{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipe/css/spectre.min.css' %}"
          type="text/css" />
    <link rel="stylesheet" href="{% static 'recipe/css/base.css' %}"
          type="text/css" />
  </head>
  <body>
    <div class="container grid-xl">
      {% block body %}{% endblock body %}
    </div>
  </body>
</html>
