{% extends 'recipe/base.html' %}
{% load humanize %}
{% load markdownify %}
{% load spectre_css %}
{% load recipe %}
{% block titleprefix %}{{ recipe.name }} – {% endblock titleprefix %}

{% block body %}
  <h1>
    {{ recipe.name }}
  </h1>
  <p>
    {% for tag in recipe.tags.all %}
      <span class="chip">{{ tag }}</span>
    {% endfor %}
  </p>

  <div class="columns">
    <div class="column col-6 col-lg-12">
      {{ recipe.notes|markdownify }}
    </div>
    <div class="column col-6 col-lg-12">
      <form method="POST" action="{% url 'recipe:view_recipe' recipe.pk %}">
        {% csrf_token %}
        {% render_form factor_form %}
        <button type="submit"
                name="display-factor-form"
                class="btn btn-primary btn-block">
          Aktualisieren
        </button>
      </form>
      <div class="form-horizontal">
        {% for ingredient in recipe.recipe_ingredients.all %}
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" />
              <i class="form-icon"></i>
              {% if recipe.show_display_factor %}
                {{ ingredient.amount|apply_display_factor:recipe|floatformat|intcomma }}&thinsp;
                {{ ingredient.get_unit_display }}
                ({{ ingredient.amount|floatformat|intcomma }}&thinsp;
                {{ ingredient.get_unit_display }})
              {% else %}
                {{ ingredient.amount|floatformat|intcomma }}&thinsp;
                {{ ingredient.get_unit_display }}
              {% endif %}
              {{ ingredient.ingredient.name }}
              {% if ingredient.note %}
                {{ ingredient.note|markdownify }}
              {% endif %}
            </label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <form method="POST" action="{% url 'recipe:view_recipe' recipe.pk %}">
    {% csrf_token %}
    {% render_form portions_form %}
    <button type="submit"
            name="portions-form"
            class="btn btn-primary btn-block">
      Aktualisieren
    </button>
  </form>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          Zutat
        </th>
        {% for nut, verbose_nut in nutritional %}
          <th class="text-right">
            {{ verbose_nut }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for ingredient_nut in recipe.ingredient_nutritional_values %}
        <tr>
          {% for column in ingredient_nut %}
            <td{% if forloop.counter0 > 0 %} class="text-right"{% endif %}>
              {% if column is None %}
                <span class="text-red text-bold">--</span>
              {% elif forloop.counter0 == 0 %}
                {{ column }}
              {% else %}
                {{ column|floatformat:-2 }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Gesamt</th>
        {% for val, incomplete in recipe.nutritional_values %}
          <td class="text-right{% if incomplete %} text-bold text-red{% endif %}">
            {{ val|floatformat:-2 }}
          </td>
        {% endfor %}
      </tr>
      {% if recipe.portions != 1 %}
        <tr>
          <th>Pro Portion</th>
          {% for val, incomplete in recipe.nutritional_values_portion %}
            <td class="text-right{% if incomplete %} text-bold text-red{% endif %}">
              {{ val|floatformat:-2 }}
            </td>
          {% endfor %}
        </tr>
      {% endif %}
    </tfoot>
  </table>

  <h2 class="space-above">Verlauf</h2>
  <form method="POST" action="{% url 'recipe:view_recipe' recipe.pk %}">
    {% csrf_token %}
    {% render_form new_instance_form %}
    <button type="submit"
            name="new-instance-form"
            class="btn btn-primary btn-block">
      Hinzufügen
    </button>
  </form>

  {% for recipe_instance in recipe_instances %}
    <h3>{{ recipe_instance.day|date }}</h3>

    {% if recipe_instance.notes %}
      <div>
        {{ recipe_instance.notes|markdownify }}
      </div>
    {% endif %}

    {% for image in recipe_instance.images.all %}
      <img src="{{ image.image.url }}" style="max-height: 400px;" />
    {% endfor %}

    <form method="POST" enctype="multipart/form-data"
          class="form-horizontal"
          action="{% url 'recipe:view_recipe' recipe.pk %}">
      {% csrf_token %}
      <div class="form-group">
        <input type="hidden" name="recipe_instance_id"
               value="{{ recipe_instance.pk }}" />
        <div class="col-6">
          <input type="file" name="image_file" class="form-input" />
        </div>
        <div class="col-6">
          <button type="submit"
                  name="new-image"
                  class="btn btn-primary btn-block">
            Hochladen
          </button>
        </div>
      </div>
    </form>
  {% endfor %}
{% endblock body %}
